/* Container for the header */
body{
  background-color: #1f1f1f;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: "Lemon", serif;
}
#root{
  max-width: None;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

html, body {
  height: 100%;
  width: 100%;
  margin: 0; /* Optional: to remove default margin */
}




.header {
  position:fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #33333330; /* Dark background for the navbar */
  padding: 10px 20px; /* Some padding around the header */
  height: 60px;
  width: 100%;
}

.navigation_bar{
  margin: auto;
}

/* Navigation bar styles */
.navigation_bar ul {
  display: flex; /* Align the items horizontally */
  list-style-type: none; /* Remove bullet points from list items */
  margin: 0; 
  padding: 0;
  font-family: "Lemon", serif;
}

/* Navigation list items */
.navigation_bar ul li {
  margin: 0 40px; /* Space between each item */
  cursor: pointer; /* Makes the cursor pointer on hover */
  font-size: 22px;
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Navigation list items hover effect */
.navigation_bar ul li:hover {
  color: #009797; /* Lighter text color on hover */
}

.page{
  height: 100%;
  width: 100%;
}

.introduction_text{
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 50px;
  max-width: 1000px;
  font-family: "VT323", monospace;
  text-align: left;
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: transparent;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.arrow{
  font-size: 100px;
  font-family: "VT323", monospace;
  position: absolute;
  top: 65%;
  left: 50%;
  animation: blinkArrow 2s infinite;
  transform: rotate(90deg);
}

.arrow:hover{
  cursor: pointer;
}

@keyframes blinkArrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pongpage{
  position: relative;
  background-color: black;
  overflow-x: hidden;
}

.pong_gif{
  position: absolute;
  right: -6%;
  height: 100%;
  z-index: 0;
}

.project_description{
  position: relative;
  height: 100%;
  width: 35%;
  background-color: rgba(16, 16, 16, 0.724);
  border-right: 1px white solid;
}

.project_description_header{
  padding: 20px;
  font-size: 40px;
}

.project_description_text{
  padding: 30px;
  font-size: 20px;
}